In [1]:
import pandas as pd

In [4]:
hague_pop = pd.read_excel('C:/Users/patel/Thesis/DataCleaning/Mobility/Hague_cijfers.xlsx',sheet_name='Meest-recent')
distance = pd.read_csv('Bike.1.csv')

In [7]:
hague_pop.head()

,Naam van het gebied,Soort regio,Codering,Aantal inwoners,Mannen,Vrouwen,0 tot 15 jaar,15 tot 25 jaar,25 tot 45 jaar,45 tot 65 jaar,...,Scholen binnen 3 km,Oppervlakte totaal,Oppervlakte land,Oppervlakte water,Meest voorkomende postcode,Dekkingspercentage,Mate van stedelijkheid,Omgevingsadressendichtheid,Indelingswijziging wijken en buurten,Gemeentenaam
0,Den Haag,Gemeente,GM0518,532561,263975,268586,92599,65311,161052,137189,...,35.4,9813,8245,1568,0,NaN,1,4856,.,Den Haag
1,Wijk 01 Oostduinen,Wijk,WK051801,0,0,0,0,0,0,0,...,NaN,318,308,10,0,NaN,4,682,1,Den Haag
2,Oostduinen,Buurt,BU05180170,0,0,0,0,0,0,0,...,NaN,318,308,10,2597,4.0,4,682,1,Den Haag
3,Wijk 02 Belgisch Park,Wijk,WK051802,8205,4030,4175,1245,1215,1775,2320,...,10.4,106,106,0,0,NaN,2,2446,1,Den Haag
4,Belgisch Park,Buurt,BU05180271,8205,4030,4175,1245,1215,1775,2320,...,10.4,106,106,0,2587,3.0,2,2446,1,Den Haag

In [6]:
distance.head()

            Name   Type        Code    Mode  Distance travelled  BUURTCODE
0  Belgisch Park  Buurt  BU05180271  Bike.1        22281.575571         71
1  Westbroekpark  Buurt  BU05180373  Bike.1         2377.999418         73
2      Duttendel  Buurt  BU05180374  Bike.1         2890.662279         74
3    Nassaubuurt  Buurt  BU05180448  Bike.1         4239.676154         48
4      Uilennest  Buurt  BU05180475  Bike.1         5455.948595         75