In [1]:
import pandas as pd

In [6]:
df1 = pd.read_csv('Food/Food.csv')

In [7]:
df2 = pd.read_csv('Energy/final_electricity_consumption.csv')
df3 = pd.read_csv('Energy/final_gas_consumption.csv')
df3 = df3[['Name','Gas']]
df1 = df1.merge(df2,on=['Name'],how='inner')
df1 = df1.merge(df3,on=['Name'],how='inner')

In [8]:
df4 = pd.read_csv('Water/water_consumption.csv')
df1 = df1.merge(df4,on=['Name'],how='inner')

In [9]:
df5 = pd.read_csv('Mobility/car_km.csv')
df6 = pd.read_csv('Mobility/train_km.csv')
df7 = pd.read_csv('Mobility/bus_tram_km.csv')
df1 = df1.merge(df5,on=['Name'],how='inner')
df1 = df1.merge(df6,on=['Name'],how='inner')
df1 = df1.merge(df7,on=['Name'],how='inner')

In [10]:
df8 = pd.read_csv('BoP/clothes.csv')
#df9 = pd.read_csv('BoP/Detergent.csv')
#df10 = pd.read_csv('BoP/Footwear.csv')
df11 = pd.read_csv('BoP/furniture.csv')
df12 = pd.read_csv('BoP/paper.csv')
#df13 = pd.read_csv('BoP/Personalcare.csv')
df1 = df1.merge(df8,on=['Name'],how='inner')
#df1 = df1.merge(df9,on=['Name'],how='inner')
#df1 = df1.merge(df10,on=['Name'],how='inner')
df1 = df1.merge(df11,on=['Name'],how='inner')
df1 = df1.merge(df12,on=['Name'],how='inner')
#df1 = df1.merge(df13,on=['Name'],how='inner')

In [11]:
df1.head()

,Name,BUURTCODE,Food,Green_electricity,nongreen_electricity,Gas,Water,Car,Train,bustram,Clothes,Furniture,Paper
0,Archipelbuurt,46,1037.501557,10.199625,413.902612,220.514518,7.424707,2504.463035,92.912683,62.071202,31.253601,234.855685,40.847142
1,Arendsdorp,78,1018.181711,9.114000,381.736078,224.547556,5.636770,2291.599853,91.948663,62.229748,26.791417,260.286102,39.108915
2,Belgisch Park,71,1056.781010,10.917063,394.820981,194.907003,6.364744,2414.062997,95.646220,65.780035,31.507165,240.877308,37.480696
3,Bezuidenhout-Midden,65,1038.487410,10.794763,380.869325,197.112196,6.816836,2557.098434,91.107857,60.643537,30.431261,239.724192,36.906474
4,Bezuidenhout-Oost,66,1049.314747,9.596771,337.027495,195.535463,6.992629,2688.038059,91.817212,60.341539,30.910343,242.131641,40.970474

In [14]:
df1.to_csv('lci_data_net.csv')