In [3]:
import pandas as pd
import numpy as np
import locale
from locale import atof
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
#population = pd.read_csv('Population.csv')

In [4]:
final_input_data = pd.read_csv('C:/Users/patel/Thesis/DataCleaning/BoP/inputdata.csv')
furniture_expense = pd.read_csv('Total_furniture_Expense.csv')
unit_furniture_expense = pd.read_excel('Furniture_unit_expenses.xlsx')
furniture_expense = furniture_expense[furniture_expense['COICOP'] == 'Furniture and furnishings, carpets and other floor coverings']
furniture_expense['Value'] = furniture_expense['Value'].replace({' ':''},regex=True)
furniture_expense['Value'] = pd.to_numeric(furniture_expense['Value'],errors='coerce')
furniture_expense = furniture_expense[['TIME','GEO','Value']]
furniture_expense.replace({":":np.NaN}, inplace=True)
unit_furniture_expense['Total per unit'] = (unit_furniture_expense['Armchair'] +unit_furniture_expense['Double bed Frame'] \
                                           + unit_furniture_expense['Kitchen Table']+ unit_furniture_expense['Spring Mattress']\
                                           + unit_furniture_expense['Sofa set'] + unit_furniture_expense['Wardrobe'])/6
unit_furniture_expense.rename(columns = {'Country':'GEO'}, inplace = True)
final_furniture_expenses = pd.merge(furniture_expense,unit_furniture_expense,how='inner',on=['GEO'])
final_furniture_expenses['Total units'] = (final_furniture_expenses['Value']/final_furniture_expenses['Total per unit'])*(1000000)
final_furniture_consumption = final_furniture_expenses[['TIME','GEO','Total units']]
final_data = pd.merge(final_input_data,final_furniture_consumption,how='inner',on=['TIME','GEO'])
final_data['consumption_per_capita'] = final_data['Total units']/final_data['Total_pop']
final_data.drop(['Total units', 'Total_pop','TIME','GEO'], axis=1, inplace=True)
final_data.to_csv('final_input_output.csv',index=False)

In [5]:
furniture_expense.head()

   TIME                                                GEO     Value
1  2010          European Union - 27 countries (from 2020)  119449.6
3  2010          European Union - 28 countries (2013-2020)  136554.2
5  2010          European Union - 15 countries (1995-2004)  128202.0
7  2010  Euro area (EA11-1999, EA12-2001, EA13-2007, EA...  106816.8
9  2010              Euro area - 19 countries  (from 2015)  107292.7