In [18]:
import pandas as pd
import numpy as np

In [19]:
final_input_data = pd.read_csv('C:/Users/patel/Thesis/DataCleaning/BoP/inputdata.csv')
furniture_expense = pd.read_csv('Furniture_TotalCost.csv')
unit_furniture_expense = pd.read_csv('FinalUnitcosts.csv')

In [20]:
furniture_expense = furniture_expense[furniture_expense['COICOP'] != 'Total']

In [21]:
furniture_expense = furniture_expense[furniture_expense['UNIT']=='Current prices, million euro']
furniture_expense.head()
furniture_expense['Value'] = furniture_expense['Value'].replace({' ':''},regex=True)
furniture_expense['Value'] = pd.to_numeric(furniture_expense['Value'],errors='coerce')
furniture_expense = furniture_expense[['TIME','GEO','Value']]
furniture_expense.replace({":":np.NaN}, inplace=True)
furniture_expense.head()

   TIME                                                GEO     Value
1  2010          European Union - 27 countries (from 2020)  119449.6
3  2010          European Union - 28 countries (2013-2020)  136554.2
5  2010          European Union - 15 countries (1995-2004)  128202.0
7  2010  Euro area (EA11-1999, EA12-2001, EA13-2007, EA...  106816.8
9  2010              Euro area - 19 countries  (from 2015)  107292.7

In [22]:
unit_furniture_expense['Average per piece'] = unit_furniture_expense.iloc[:,2:].mean(axis=1)

In [23]:
unit_furniture_expense = unit_furniture_expense[['TIME','GEO','Average per piece']]
final_furniture_expenses = pd.merge(furniture_expense,unit_furniture_expense,how='inner',on=['TIME','GEO'])
final_furniture_expenses['Total units'] = (final_furniture_expenses['Value']/final_furniture_expenses['Average per piece'])*(1000000)
final_furniture_consumption = final_furniture_expenses[['TIME','GEO','Total units']]
final_data = pd.merge(final_input_data,final_furniture_consumption,how='inner',on=['TIME','GEO'])
final_data['consumption_per_capita'] = final_data['Total units']/final_data['Total_pop']
final_data.drop(['Total units', 'Total_pop','TIME','GEO'], axis=1, inplace=True)
final_data.to_csv('final_input_output.csv',index=False)
final_data.head()

,male_percent,female_percent,0 to 15 percent,15 to 25 percent,25 to 45 percent,45 to 65 percent,65 or older percent,Primary,Secondary,Tertiary,activity_level,Income,consumption_per_capita
0,0.487521,0.512479,0.154213,0.118512,0.284226,0.266767,0.176282,0.317,0.468,0.216,0.70325,14546.0,1.061828
1,0.487906,0.512094,0.156951,0.120054,0.283263,0.265144,0.174588,0.308,0.465,0.228,0.70975,14863.0,1.047127
2,0.487864,0.512136,0.154420,0.114562,0.282228,0.266031,0.182760,0.346,0.428,0.227,0.71300,17045.0,1.216533
3,0.490062,0.509938,0.169027,0.120974,0.270043,0.268353,0.171603,0.326,0.367,0.307,0.67650,19458.0,1.369597
4,0.486940,0.513060,0.131530,0.122029,0.282031,0.282719,0.181690,0.251,0.551,0.197,0.66700,3017.0,0.566175

In [25]:
final_data['consumption_per_capita'].max()

2.29526106760642